<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>啄木鸟无人机 | PloverUAV - 致力于无人机相关技术研发，设计和推广无人机应用服务</title>
    <meta name="keywords" content="啄木鸟无人机，专业无人机">
    <meta name="description" content="从技术研发，生产制造，工程服务到售后维护，打造一条自上而下，具备核心知识产权的产业链通路，以安全，可靠，效率的无人机技术为基础，同农业，工业，国土安全等多领域深度融合，打造出有啄木鸟特色的行业应用。">
    <meta name="canonical" content="http://www.ploveruav.com/">
    <meta http-equiv="X-UA Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/css_index.css" rel="stylesheet" type="text/css">
</head>

<body>

<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
        <img src="img/logo_index.png" class="img-responsive pull-left">
        <nav style="height: 1px;" aria-expanded="false" id="bs-navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html">首&nbsp;&nbsp;页</a></li>
                <li><a href="about.html">关于我们</a></li>
                <li><a href="news.html">公司新闻</a></li>
                <li><a href="video.html">精彩视频</a></li>
                <li><a href="uav-news.html">UAV新闻</a></li>
                <li><a href="contact.html">留言联系</a></li>
                <li><a href="en/index.html">ENGLISH</a></li>
                <li><a href="kr/index.html">한국어</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="jumbotron" style="width: 98%">
    <div class="container">
        <h1>了解啄木鸟</h1>
    </div>
</div>

<div class="container">
    <ol class="breadcrumb">
        <li><a href="index.html">首页</a></li>
        <li><a href="about.html">关于我们</a></li>
        <li class="active">公司简介</li>
    </ol>
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a href="about.html" class="list-group-item active">关于我们</a>
                <a href="contact.html" class="list-group-item">联系我们</a>
                <a href="news.html" class="list-group-item">公司新闻</a>
                <a href="video.html" class="list-group-item">精彩视频</a>
                <a href="forum.html" class="list-group-item">开发者论坛</a>
                <a href="#" class="list-group-item">Github开发</a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                        <div class="page-header">
                        <h2>安徽啄木鸟无人机科技有限公司</h2>
                        </div>
                        <blockquote>&nbsp;&nbsp;安徽啄木鸟无人机科技有限公司（Anhui PloverUAV Technology Co.Ltd）致力于无人机相关技术研发，设计和推广无人机应用服务。公司坐落于安徽省马鞍山软件园，是一家高新技术企业，以无人机技术为支撑，积极向多领域拓展的科技性公司。</blockquote>
                    <div class="panel panel-primary">
                        <div class="panel-heading">一、公司业务</div>
                        <div class="panel-body">
                            无人机飞控技术研发，整机设计、加工制造，农业植保服务，航测航拍类服务，电力巡检，森林防火，无人机救援，空中通讯中继站等。
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">二、公司发展</div>
                        <div class="panel-body">
                            公司未来目标是，成为一家能够提供多领域业务整体解决方案提供商。从技术研发，生产制造，工程服务到售后维护，打造一条自上而下，具备核心知识产权的产业链通路，以安全，可靠，效率的无人机技术为基础，同农业，工业，国土安全等多领域深度融合，打造出有啄木鸟特色的行业应用。
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">三、企业文化</div>
                        <div class="panel-body">
                           公司拥有一支年轻、敏锐、朝气蓬勃、志向远大的团队。在疾驰而来的万众创新的时代，秉承专业、敬业、激情、创新的发展理念，坚持以客户为本、以信用为先的服务准则，以自身无人机技术及其配套服务开发的优势，用心解决用户最迫切、最实际的需求，以优质的产品、先进的技术为用户提供完美的服务。
                        </div>
                    </div>
                    <hr>
                    <div class="panel panel-default">
                            <div class="panel-body">
                                <strong>品牌精神：</strong>
                                <span class="label label-default">高端</span>
                                <span class="label label-primary">前沿</span>
                                <span class="label label-success">精准</span>
                                <span class="label label-danger">求实</span>
                            </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <strong>核心价值观：</strong>
                            <div class="input-group">
                                <div class="input-group-addon">立足客户</div>
                                <input type="text" class="form-control" id="exampleInputAmount" value="致力于客户的满意与成功" readonly>
                            </div>

                            <div class="input-group">
                                <div class="input-group-addon">创新求实</div>
                                <input type="text" class="form-control" id="exampleInputAmount" value="基于事实，敢于想象，勇于探索" readonly>
                            </div>

                            <div class="input-group">
                                <div class="input-group-addon">员工价值</div>
                                <input type="text" class="form-control" id="exampleInputAmount" value="全心投入，乐在其中" readonly>
                            </div>

                            <div class="input-group">
                                <div class="input-group-addon">利益微观</div>
                                <input type="text" class="form-control" id="exampleInputAmount" value="诚信负责，共造多赢" readonly>
                            </div>

                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="page-header">
                                <h3>公司始终以创新为主旨，用先进高性能的产品和服务，带领无人机产业更好的服务于社会。</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12" style="text-align: center;padding-top: 10px">
                安徽啄木鸟无人机科技有限公司<br>
                皖马鞍山市软件园A座16层<br>
                Copyright &copy; 2015 PloverUAV All right Reserved<br>
                皖ICP备15026235号-1<br>
            </div>
            <div class="col-md-5 col-sm-12" style="padding-top: 10px">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="container">
                            <ul class="list-unstyled">
                                <li><a href="about.html">关于我们</a></li>
                                <li><a href="contact.html">联系我们</a></li>
                                <li><a href="news.html">公司新闻</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="container">
                            <ul class="list-unstyled">
                                <li> <a href="uav-news.html">UAV新闻</a></li>
                                <li><a href="video.html">精彩视频</a></li>
                                <li><a href="pro-test.html">专业测试</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="container">
                            <ul class="list-unstyled">
                                <li><a href="forum.html">开发者论坛</a></li>
                                <li><a href="en/index.html">ENGLISH</a></li>
                                <li><a href="kr/index.html">한국어</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-sm-12">
                <div class="container">
                    <img src="img/weixin.jpg" alt="微信" width="100px" height="100px">
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>