<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX UAV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/css_index.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="header">
    <div class="menu">
        <img src="img/th.jpg" width="40px" height="40px">
        <div class="gn-menu">
            <ul class="ul-menu">
                <li><a href="index.html">首&nbsp;&nbsp;页</a></li>
                <li><a href="about.html">关于我们</a></li>
                <li><a href="news.html">公司新闻</a></li>
                <li><a href="uav-news.html">UAV新闻</a></li>
                <li><a href="contact.html">留言联系</a></li>
            </ul>
        </div>
    </div>
    <div class="logo"></div>
</div>
<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
        <a href="index.html" class="navbar-brand"></a>
        <nav style="height: 1px;" aria-expanded="false" id="bs-navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html">首&nbsp;&nbsp;页</a></li>
                <li><a href="about.html">关于我们</a></li>
                <li><a href="news.html">公司新闻</a></li>
                <li><a href="video.html">精彩视频</a></li>
                <li><a href="uav-news.html">UAV新闻</a></li>
                <li><a href="contact.html">留言联系</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="jumbotron" style="width: 98%">
    <div class="container">
        <h1>啄木鸟</h1>
    </div>
</div>

<div id="body">
    <div class="content">
        <h1>PLOVERUAV</h1>
    </div>
</div>

<div id="footer">
    <div class="copyright">
        安徽啄木鸟无人机科技有限公司<br>
        皖马鞍山市软件园A座16层<br>
        Copyright &copy; 2015 PloverUAV All right Reserved<br>
        皖ICP备15026235号-1<br>
    </div>
    <div class="contact">
        <nav class="link-list">
            <a href="about.html">关于我们</a>
            <a href="contact.html">联系我们</a>
            <a href="news.html">公司新闻</a>
        </nav>
        <nav class="link-list">
            <a href="uav-news.html">UAV新闻</a>
            <a href="video.html">精彩视频</a>
            <a href="pro-test.html">专业测试</a>
        </nav>
        <nav class="link-list">
            <a href="forum.html">开发者论坛</a>
            <a href="#">Github</a>
        </nav>
    </div>
    <div class="follow">
        <div class="content">
            <img src="img/weixin.jpg" alt="微信" width="100px" height="100px">
        </div>
    </div>
</div>
<script src="js/"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>