<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
     <div class="navbar-header">
         <a class="img-responsive pull-left" href="{:C('HOME_PAGE')}">
             <img alt="" src="__HOME_IMG__/index/logo_index.png">
         </a>
     </div>
     <div class="collapse navbar-collapse navbar-collapse-main">
         <ul class="nav navbar-nav navbar-left">
             <li><a href="{:C('HOME_PAGE')}">首页</a></li>
             <cms:category_list name="vo" pid="0" group="1">
                 <php>if($vo['_child']):</php>
                     <li class="dropdown">
                         <a href="{$vo.href}" class="dropdown-toggle" data-toggle="dropdown" role="button">
                             {$vo.title} <span class="caret"></span>
                         </a>
                         <ul class="dropdown-menu">
                             <volist name="vo._child" id="vo1">
                                 <li>
                                     <a href="{$vo1.href}">{$vo1.title}</a>
                                 </li>
                             </volist>
                         </ul>
                     </li>
                 <php>else:</php>
                     <li>
                         <a href="{$vo.href}">
                             <span> {$vo.title}</span>
                         </a>
                     </li>
                 <php>endif;</php>
             </cms:category_list>
         </ul>

         <ul class="nav navbar-nav navbar-right">
             <present name="_user_auth">
                 <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                         <img class="nav-img img-circle" src="{$_user_auth.avatar|get_cover='avatar'}" alt="{$_user_auth.nickname}">
                         <span">
                             {$_user_auth.nickname}
                             <span class="badge badge-danger">{$_new_message}</span> <!-- 新消息数量 -->
</span>
<span class="caret"></span>
</a>
<ul class="dropdown-menu">
    <li><a href="{:U('User/Index/home', array('uid' => $_user_auth['uid']), true, true)}"><i class="fa fa-home"></i> 个人主页</a></li>
    <volist name="_user_nav_main" id="vo_nav">
        <li><a href="{:U($vo_nav['url'], null, true, true)}" class="{$vo_nav.class}"><i class="{$vo_nav.icon}"></i> {$vo_nav.title}</a></li>
    </volist>
    <li role="separator" class="divider"></li>
    <li><a href="{:U('User/User/logout', null, true, true)}" class="ajax-get"><i class="fa fa-sign-out"></i> 注销登录</a></li>
</ul>
</li>
<else />
<div class="navbar-right">
    <a class="btn btn-success navbar-btn" data-toggle="modal" href="#register-modal">注册</a>
    <a class="btn btn-primary navbar-btn" data-toggle="modal" href="#login-modal">登录</a>
</div>
</present>
</ul>
</div>
</div>






<div class="clearfix full-foooter">
    <block name="footer">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-6">
                        <h4>
                            <php>if(C('WEB_SITE_LOGO')):</php>
                            <img alt="logo" style="width:220px;" src="{$Think.config.WEB_SITE_LOGO|get_cover}">
                            <php>else:</php>
                            <h3><a href="{:C('WEBSITE_DOMAIN')}">{:C('PRODUCT_LOGO')}</a></h3>
                            <php>endif;</php>
                        </h4>
                        <p class="text-muted">{:C('WEB_SITE_DESCRIPTION')}</p>
                    </div>
                    <div class="col-sm-6  col-lg-5 col-lg-offset-1">
                        <div class="row">
                            <!-- 底部导航 开始 -->
                            <cms:footnav_list name="vo">
                                <div class="col-xs-4 footnav-list">
                                    <h4><a>{$vo.title}</a></h4>
                                    <ul class="list-unstyled">
                                        <volist name="vo._child" id="vo1">
                                            <li>
                                                <a target="_blank" class="text-muted" href="{$vo1.url}">{$vo1.title}</a>
                                            </li>
                                        </volist>
                                    </ul>
                                </div>
                            </cms:footnav_list>
                            <!-- 底部导航 结束 -->
                        </div>
                    </div>
                </div>
                <div class="row footer-bottom">
                    <ul class="list-inline text-center">
                        <li><span class="copyright">{:C('WEB_SITE_COPYRIGHT')}</span></li>
                        <li><a class="icp" href="http://www.miibeian.gov.cn/" target="_blank">{:C('WEB_SITE_ICP')}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </block>
</div>








<div class="clearfix full-script">
    <div class="container-fluid">
        <include file="$_user_login_modal" /> <!-- 登录弹窗 -->
        <input type="hidden" id="corethink_home_img" value="__HOME_IMG__">
        <script type="text/javascript" src="__CUI__/js/cui.min.js"></script>
        <script type="text/javascript" src="__HOME_JS__/home.js"></script>
        <block name="script"></block>
        {:C('WEB_SITE_STATISTICS')} <!-- 站点统计代码 -->
    </div>
</div>

</body>
</html>




<div class="panel panel-default">
    <div class="panel-body">
        <div class="page-header">
            <h2>安徽啄木鸟无人机科技有限公司</h2>
        </div>
        <blockquote>&nbsp;&nbsp;安徽啄木鸟无人机科技有限公司（Anhui PloverUAV Technology Co.Ltd）致力于无人机相关技术研发，设计和推广无人机应用服务。公司坐落于安徽省马鞍山软件园，是一家高新技术企业，以无人机技术为支撑，积极向多领域拓展的科技性公司。</blockquote>
        <div class="panel panel-primary">
            <div class="panel-heading">一、公司业务</div>
            <div class="panel-body">
                无人机飞控技术研发，整机设计、加工制造，农业植保服务，航测航拍类服务，电力巡检，森林防火，无人机救援，空中通讯中继站等。
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">二、公司发展</div>
            <div class="panel-body">
                公司未来目标是，成为一家能够提供多领域业务整体解决方案提供商。从技术研发，生产制造，工程服务到售后维护，打造一条自上而下，具备核心知识产权的产业链通路，以安全，可靠，效率的无人机技术为基础，同农业，工业，国土安全等多领域深度融合，打造出有啄木鸟特色的行业应用。
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">三、企业文化</div>
            <div class="panel-body">
                公司拥有一支年轻、敏锐、朝气蓬勃、志向远大的团队。在疾驰而来的万众创新的时代，秉承专业、敬业、激情、创新的发展理念，坚持以客户为本、以信用为先的服务准则，以自身无人机技术及其配套服务开发的优势，用心解决用户最迫切、最实际的需求，以优质的产品、先进的技术为用户提供完美的服务。
            </div>
        </div>
        <hr>
        <div class="panel panel-default">
            <div class="panel-body">
                <strong>品牌精神：</strong>
                <span class="label label-default">高端</span>
                <span class="label label-primary">前沿</span>
                <span class="label label-success">精准</span>
                <span class="label label-danger">求实</span>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <strong>核心价值观：</strong>
                <div class="input-group">
                    <div class="input-group-addon">立足客户</div>
                    <input type="text" class="form-control" id="exampleInputAmount" value="致力于客户的满意与成功" readonly>
                </div>

                <div class="input-group">
                    <div class="input-group-addon">创新求实</div>
                    <input type="text" class="form-control" id="exampleInputAmount" value="基于事实，敢于想象，勇于探索" readonly>
                </div>

                <div class="input-group">
                    <div class="input-group-addon">员工价值</div>
                    <input type="text" class="form-control" id="exampleInputAmount" value="全心投入，乐在其中" readonly>
                </div>

                <div class="input-group">
                    <div class="input-group-addon">利益微观</div>
                    <input type="text" class="form-control" id="exampleInputAmount" value="诚信负责，共造多赢" readonly>
                </div>

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="page-header">
                    <h3>公司始终以创新为主旨，用先进高性能的产品和服务，带领无人机产业更好的服务于社会。</h3>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="panel panel-default">
    <div class="panel-heading">
        欢迎
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>公司名称</dt>
            <dd>安徽啄木鸟无人机科技有限公司</dd>
            <dt>地址</dt>
            <dd>安徽省马鞍山市花山区软件园A座16层</dd>
            <dt>邮编</dt>
            <dd>243000</dd>
        </dl>
        <hr>
        <dl class="dl-horizontal">
            <dt>公司座机</dt>
            <dd>0555-2827298</dd>
            <dd>0555-2827986</dd>
            <dt>咨询邮箱</dt>
            <dd>postmaster@ploveruav.com</dd>
            <dt>官方微信</dt>
            <dd>啄木鸟无人飞行器</dd>
        </dl>
        <hr>
    </div>
</div>