<!DocType html>
<html>
<head>
    <meta title="安徽啄木鸟无人机科技有限公司植保预约服务统计">
    <meta lang="zh-cn">
    <meta charset="utf-8">

    <link rel="stylesheet" href="__HOME_CSS__/github/frameworks.css" type="text/css"/>
    <link rel="stylesheet" href="__HOME_CSS__/github/github.css" type="text/css"/>
    <link rel="stylesheet" href="__HOME_CSS__/github/site.css" type="text/css"/>

</head>
<body>
    <h1>预约申请信息</h1>
    <br>
    <hr>
    <br>
    <table class="table table-bordered table-striped table-hover" style="width: 92%">
        <thead>
            <tr>
                <th>编号</th>
                <th>地点</th>
                <th>作物类型</th>
                <th>作业面积</th>
                <th>作业时间</th>
                <th>联系人姓名</th>
                <th>联系人手机号</th>
                <th>支付定金</th>
                <th>是否支付</th>
                <th>留言</th>
                <th>添加时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        <volist name="reserve_data" id="data" key="k">
            <tr class="js-navigation-item">
                <td class="content"><span class="css-truncate css-truncate-target">{$k}</span></td>
                <td class="content"><span class="css-truncate css-truncate-target">{$data._place}</span></td>
                <td class="content"><span class="css-truncate css-truncate-target">{$data._type} </span></td>
                <td class="content"><span class="css-truncate css-truncate-target">{$data._area} </span></td>
                <td class="content"><span class="css-truncate css-truncate-target">{$data._time}</span></td>
                <td class="content"><span class="css-truncate css-truncate-target"> {$data._name}</span></td>
                <td class="content"><span class="css-truncate css-truncate-target"> {$data._phone}</span></td>
                <td class="content"><span class="css-truncate css-truncate-target"> {$data._payment}</span></td>
                <td class="content"><span class="css-truncate css-truncate-target">  {$data.is_pay} </span></td>
                <td class="content"><span class="css-truncate css-truncate-target">  {$data._mark}</span></td>
                <td class="content"><span class="css-truncate css-truncate-target">  {$data.add_time|date="Y年m月d日H点",###}</span></td>
                <td><a>编辑</a>&nbsp;<a>删除</a>
            </tr>
        </volist>
        </tbody>
    </table>

</body>
</html>