<extend name="$_home_public_layout"/>

<block name="title"><title>{:C('WEB_SITE_TITLE')}－{:C('WEB_SITE_SLOGAN')}</title></block>

<block name="style">
    <style type="text/css">
        /* 首页幻灯片 */
        #index-carousel .jumbotron {
            height: 500px;
            padding: 20px 0;
        }
        #index-carousel .carousel-indicators {
            bottom: 10px;
            color: #0b85db;
        }

        /* 幻灯片01 简介 */
        .opencmf .title {
            margin-top: 60px;
        }
        .opencmf .abstract {
            margin: 30px 0 70px;
        }
        .opencmf .action .btn-default {
            color: #fff;
            border-color: #fff;
            background: none;
        }
        .opencmf .action .btn-default:hover,
        .opencmf .action .btn-default.active {
            color: #3EA9F5;
            background: #fff;
        }

        /* 幻灯片02 特性 */
        .section-feature-slider h3 {
            color: #fff;
        }
        .section-feature-slider .feature-list .thumbnail {
            background: none;
            border: 0;
        }
        .section-feature-slider .feature-list .thumbnail .cover {
            text-align: center;
            vertical-align: middle;
            padding: 20px;
            margin: auto;
            overflow: hidden;
        }
        .section-feature-slider .feature-list .thumbnail .fa {
            font-size: 60px;
            margin-top: 15px;
            color: #fff;
        }
        .section-feature-slider .feature-list .thumbnail .caption {
            height: 60px;
        }
        .section-feature-slider .feature-list .thumbnail .caption h4 {
            color: #fff;
            cursor: pointer;
            font-size: 14px;
        }

        /* section */
        .section {
            padding: 20px 0;
        }
        .section h3 {
            margin-bottom: 50px;
        }

        /* 官方模块 */
        .section-module .module-list .thumbnail {
            background: none;
            border: 1px solid transparent;
        }
        .section-module .module-list .thumbnail:hover {
            background: none;
            border: 1px solid #ddd;
            cursor: pointer;
        }
        .section-module .module-list .thumbnail .cover {
            width: 100px;
            height: 100px;
            text-align: center;
            vertical-align: middle;
            padding: 10px;
            border-radius: 50%;
            background: #eee;
            margin: auto;
            overflow: hidden;
        }
        .section-module .module-list .thumbnail .fa {
            font-size: 60px;
            margin-top: 15px;
            color: #fff;
        }
        .section-module .module-list .thumbnail .caption {
            height: 32px;
        }
        .section-module .module-list .thumbnail .caption h4 {
            color: #727F8C;
            transition: all 1s;
            font-size: 14px;
        }

        @media (max-width: 768px) {
            /* 幻灯切换 */
            #index-carousel .carousel-indicators {
                bottom: 10px;
                background-color:#0000C0;
            }
            .opencmf .title {
                margin-top: 10px;
                font-size: 20px;
            }
            .opencmf .abstract {
                margin: 10px 0;
                font-size: 12px;
            }
            .opencmf .action .btn {
                font-size: 12px;
            }

            /* 特性 */
            #index-carousel .jumbotron {
                height: 220px;
                padding: 10px 0;
            }
            .section-feature-slider h3 {
                font-size: 14px;
            }
            .section-feature-slider .feature-list .thumbnail {
                margin-bottom: 5px;
            }
            .section-feature-slider .feature-list .thumbnail .cover {
                padding: 10px 0 0 0;
            }
            .section-feature-slider .feature-list .thumbnail .fa {
                font-size: 20px;
                margin-top: 0px;
                color: #fff;
            }
            .section-feature-slider .feature-list .thumbnail .caption {
                height: 10px;
            }
            .section-feature-slider .feature-list .thumbnail .caption h4 {
                color: #fff;
                cursor: pointer;
                font-size: 12px;
                display: none;
            }

            /* 官方模块 */
            .section-module .module-list .thumbnail .cover {
                width: 80px;
                height: 80px;
                padding: 10px;
            }
            .section-module .module-list .thumbnail .fa {
                font-size: 30px;
                margin-top: 15px;
                color: #fff;
            }

            /* section */
            .section {
                padding: 0px 0;
            }
            .section h3 {
                margin-bottom: 15px;
            }
        }
    </style>
</block>

<block name="jumbotron">
    <div id="index-carousel" class="carousel slide" data-ride="carousel">
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
            	<img src="__HOME_IMG__/index/goodwp.jpg" class="img-responsive">
            </div>
            <div class="item">
                <img src="__HOME_IMG__/index/uav3.jpg" class="img-responsive">  
            </div>
        </div>

        <!-- 幻灯片导航 -->
        <ol class="carousel-indicators">
            <li data-target="#index-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#index-carousel" data-slide-to="1"></li>
        </ol>

        <!-- 左右切换按钮 -->
        <a class="left carousel-control hidden-xs" href="#index-carousel" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
        <a class="right carousel-control hidden-xs" href="#index-carousel" data-slide="next"><span class="fa fa-chevron-right"></span></a>
    </div>
</block>

<block name="main">

</block>
<block name="picture_viewer">
    <div class="container-fluid grids-section">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <a href="index.php?s=/cms/index/lists/cid/4.html" class="grid-item">
                    <img src="//www5.djicdn.com/cms_uploads/grid_picture/image/1435/e0c80b73fd597494311e0bceca2d49d8.png">
                    <div class="text-wrap">
                        <div class="text">
                            <h3 class="title">新闻动态</h3>
                            <div class="main">了解啄木鸟公司的最新动向</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-4">
                <a href="index.php?s=/cms/index/lists/cid/5.html" class="grid-item">
                    <img src="//www3.djicdn.com/cms_uploads/grid_picture/image/1411/b445fc6076275440852446d412c49cf7.jpg">
                    <div class="text-wrap">
                        <div class="text">
                            <h3 class="title">精彩视频</h3>
                            <div class="main">让我们一起欣赏</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-4">
                <a href="index.php?s=/cms/index/lists/cid/6.htm" class="grid-item">
                    <img src="//www3.djicdn.com/cms_uploads/grid_picture/image/1419/event.jpg">
                    <div class="text-wrap caption-white">
                        <div class="text">
                            <h3 class="title">瞬间一刻</h3>
                            <div class="main">在那一瞬间发生的不凡</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</block>
