<extend name="$_home_public_layout"/>

<block name="jumbotron">
    <div class="jumbotron jumbotron-background main-jumbotron">
        <div class="container">
            <h1>{$info['title']}</h1>
        </div>
    </div>
</block>


<block name="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9">
                <div class="panel">
                    <article class="article panel-body">
                        <!-- 文章正文 -->
                        <div class="article-body">
                            {$info.content|parse_content}
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 hidden-xs">
                <!-- 侧边导航 -->
                <div class="panel">
                    <div class="panel-body">
                        <!-- 搜索 -->
                        <form role="search" action="{:U('lists', array('cid' => $_current_category['id']))}">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control search-input" placeholder="搜索" name="keyword" value="{$_GET['keywords']}">
                                    <a type="submit" class="input-group-addon search-btn"><i class='fa fa-search'></i></a>
                                </div>
                            </div>
                        </form>

                        <!-- 分类列表 -->
                        <div class="list-group">
                            <cms:category_list name="vo" pid="$_current_category['id']">
                                <a class="list-group-item <if condition='$vo.id eq $_current_category.id'>active</if>" href="{:U('lists', array('cid' => $vo['id']))}">
                                    {$vo.title}
                                </a>
                            </cms:category_list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
