<extend name="$_home_public_layout"/>

<block name="jumbotron">
    <div class="jumbotron jumbotron-background main-jumbotron">
        <div class="container">
            <span style="color:rgb(68,168,242);font-size: 38px;">{$info['title']}</span>
            <ol class="breadcrumb" style="background-color: #EEEEEE;">
                <li><a href="{$Think.config.HOME_PAGE}">首页</a></li>
                <li>{$info['title']}</li>
            </ol>
        </div>
    </div>
</block>


<block name="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9">
                <div class="panel">
                    <article class="article panel-body">
                        <!-- 文章正文 -->
                        <div class="article-body">
                            {$info.content|parse_content}
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 hidden-xs">
                <!-- 侧边导航 -->
                <div class="panel">
                    <div class="panel-body">
                        <!-- 搜索 -->
                        <form role="search" action="">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control search-input" placeholder="搜索" name="keyword" value="{$_GET['keywords']}">
                                    <a type="submit" class="input-group-addon search-btn"><i class='fa fa-search'></i></a>
                                </div>
                            </div>
                        </form>

                        <!-- 分类列表 -->
                        <div class="list-group">
                            <a class="list-group-item <?php echo ($info['id']==1) ?  'active' :  ' '; php?>" href="index.php?s=/cms/cate/1.html">关于我们</a>
                            <a class="list-group-item <?php echo ($info['id']==3) ?  'active' :  ' '; php?>" href="index.php?s=/cms/cate/3.html">发展历程</a>
                            <a class="list-group-item <?php echo ($info['id']==2) ?  'active' :  ' '; php?>" href="index.php?s=/cms/cate/2.html">联系我们</a>
                            <a class="list-group-item <?php echo ($info['id']==4) ?  'active' :  ' '; php?>" href="index.php?s=/cms/index/lists/cid/4.html">新闻动态</a>
                            <a class="list-group-item <?php echo ($info['id']==5) ?  'active' :  ' '; php?>" href="index.php?s=/cms/index/lists/cid/5.html">精彩视频</a>
                            <a class="list-group-item <?php echo ($info['id']==6) ?  'active' :  ' '; php?>" href="index.php?s=/cms/index/lists/cid/6.html">图片墙</a>
                            <a class="list-group-item <?php echo ($info['id']==7) ?  'active' :  ' '; php?>" href="index.php?s=/cms/cate/7.html">航测业务</a>
                            <a class="list-group-item <?php echo ($info['id']==8) ?  'active' :  ' '; php?>" href="index.php?s=/cms/cate/8.html">植保业务</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
